.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.time {
  font-size: 50px;
  font-weight: bold;
}